.project-image-container {
    position: relative;
    margin-right: 16px;
    min-width: 600px;
    display: flex;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.79);
    max-height: 320px;
}

.proj_cont {
    display: flex;
    justify-content: center;
}

.project-image {
    display: flex;
    width: 100%;
}

.project-name {
    margin: 0 0 10px 0;
    color: rgb(255, 245, 95);
}

.project-container {
    position: relative;
}

.prev, .next {
    opacity: 0.4;
    position: absolute;
    height: 100%;
    align-self: center;
    width: 30px;
    background-color: rgba(0, 0, 0, 0.6);
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
}

.next:hover, .prev:hover {
    opacity: 1;
    cursor: pointer;
}

.prev {
    left: -50px;
    border-radius: 10px 0 0 10px;
    background-image: url(../assets/images/icons/less-than.png);
}

.next {
    right: -50px;
    border-radius: 0 10px 10px 0;
    background-image: url(../assets/images/icons/greather-than.png);
}

.tech-img {
    display: flex;
    width: 34px;
    margin: 0 6px;
}

.open-terminal {
    cursor: pointer;
}

.project {
    display: none;
}

.preview-container {
    position: absolute;
    right: 18px;
    bottom: 14px;
}

#project-preview {
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;

    background-color: rgba(0, 0, 0, 0.6);
}

#close-preview {
    height: 40px;
    width: 40px;
    background-image: url(../assets/images/icons/white-close.png);
    background-size: 16px;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 50%;
    transition: all 0.4s ease;

    position: absolute;
    right: 20px;
    top: 30px;
    cursor: pointer;
}

#close-preview:hover {
    background-color: rgba(255, 255, 255, 0.13);
}

#project-preview-frame {
    height: 90%;
    width: 90%;
    border: none;
}

@media screen and (max-width: 900px) {

    .project {
        display: block;
    }

    .proj_cont {
        flex-direction: column;
    }

    .prev, .next {
        display: none;
    }

    .project-container {
        width: 100%;
    }

    header {
        margin-left: -60px;
    }

    #expand-logo {
        display: none;
    }

    .project-image-container {
        width: 100%;
        display: flex;
        min-width: 300px;
        margin: 0;
    }

    #global-section {
        padding: 20px;
        height: auto;
        margin: 0;
    }

    .description {
        margin-top: 8px;
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {

}